{% extends "nav.html" %}

{% block body %}
<h1>{{ book.title }}</h1>
<div>
    <div>{{ book.author }}</div>
    <div>{{ book.year }}</div>
    <div>{{ book.isbn }}</div>
 
</div>


{% if not reviewed %}
<form id="book-review" action="{{ url_for('result', isbn=book.isbn) }}" method="POST">
    <div class="form-group">
        <label for="rating">Rate {{ book.title }}</label>
        <select class="form-control" name="rating" id="">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <span>stars </span>
    </div>

    <div class="form-group">
        <label for="comment">Comments on {{ book.title }}</label>
        <textarea name="comment" class="form-control" id="" cols="30" rows="10"></textarea>
    </div>
    <button class="btn btn-primary">Submit</button>

</form>

{% endif %}

{% if reviews %}
    {% for review in reviews %}
    <div class="review-card">
        <h3>{{ review.submitted }}</h3>
        <h4>{{ review.username }} gave {{ review.rating }} stars</h4>
        <p>{{ review.comment }}</p>
    </div>
    {% endfor %}
{% endif %}

{% endblock %}